*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1358db;
    color: #fff;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
        helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    overflow: hidden;
}

/* Fullscreen mode */
body::backdrop {
    background-color: #1358db;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    font-size: 6rem;
    font-weight: 600;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.timer-ring {
    position: absolute;
    z-index: -1;
    width: 25rem;
    height: 25rem;
}

.timer-ring__background {
    stroke-width: 2rem;
    fill: transparent;
    stroke: #003fc2;
}

.timer-ring__circle {
    stroke-width: 2rem;
    fill: transparent;
    stroke: #ffcf00;
    /* axis compensation */
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
