*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	--timer-size: min(75vmin, 25rem);
}

body {
	margin: 0;
	background-color: #1358db;
	color: #fff;
	font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	overflow: hidden;
}

body::backdrop {
	background-color: #1358db;
}
